@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

body {
font-family: 'Droid Sans';
font-size: 1em;
}

p {
  border-bottom: 1px solid grey;
  font-size: 1.2em;
}

h1 {
  color: white;
  background-color: brown;
  font-family: 'Comfortaa';
  font-size: 4.5em
}

h2 {
  color: brown;
  font-family: 'Comfortaa';
  font-size: 2em

}

h3 {
  color: white;
  background-color: black;
  font-family:'Comfortaa';
}

#content {
  text-align: center;
  padding: 10px;
}
